<!-- Tala om att det är html-dokument -->
<!DOCTYPE html>

<!-- Alla element ska finnas inom html-taggen -->
<html>
<!-- I head placeras saker som inte är innehåll, tex css-filer och javascript -->
<head>
    <!-- Dessa 3 meta-taggar måste vara först i head för att alla tecken (åäö) och Bootstrap ska fungera korrekt -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Koppla in Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Koppla in egen CSS-fil style.css OBS! Ha den som sista css-fil -->
    <link rel="stylesheet" type ="text/css" href="css/style.css">

    <!-- Koppla in och JQuery Bootstrap javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Koppla in egen JavaScript-fil funktion.js OBS! Ha den som sista js-fil -->
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/monokai-sublime.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>

    <!-- I title skriver du titeln som webbläsarfönstret ska ha när den här sidan besöks-->
    <title>Hemsidans titel</title>
</head>
<!-- I body finns allt innehåll på hemsidan -->
<body ng-app="app">

   <!-- I den här diven finns allt som ligger ovanför menyn och innehållet. Förslagsvis hemsidans namn -->
        <div class="container">

            <h1>övrigt</h1>
        </div>

        <div class="container">

            <!-- Den lilla kolumnen till vänster där menyn finns -->
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked nav-default">
                    <li class="activate"><a href="index.html"><h3>home</h3></a></li>
                    <li><a href="menyval1.html"><h3>info</h3></a></li>
                    <li><a href="menyval2.html"><h3>video</h3></a></li>
                    <li><a href="menyval3.html"><h3>övrigt</h3></a></li>
                </ul>
            </div>

            
<style>
#box1 {
    position: absolute;
    top: 381px;
    left: 128px;
    width: 160px;
    height: 100px;
    background-color:  #448cff;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
    #box1:hover { background-color: red; }
    #box1:active { background-color: blue; }
</style>
<div id="box1"></div>

    <main id="kommentar"> <!-- The main content on the page -->
        <div class="main-content container" ng-controller="KommentarCtrl">
            <div class="content-container">
                <h2>Kommentarsflöde</h2>
                <div ng-repeat="kommentar in kommentarer">
                    <p><b>{{ kommentar.skribent }}</b> {{ kommentar.text }}</p>
                </div>
            </div>
            <div class="content-container" style="margin-top: 100px; width: 50%">
                <h3>Kommentera</h3>
                <form ng-submit="addComment()">
                    <div class="form-group">
                        <input placeholder="Ditt namn" type="text" id="skribent" class="form-control" ng-model="kommentar.skribent">
                    </div>
                    <div class="form-group">
                        <input placeholder="Din kommentar" type="text" id="text" class="form-control" ng-model="kommentar.text">
                    </div>
                    <button type="submit" class="btn btn-success">Kommentera</button>
                </form>
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                <pre><code></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                </div>
            </div>

        </div>
    </div>
    </div>            

</div>

<script type="text/javascript" src="js/funktion.js"></script>

</body>
</html>
